<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chirag.sticker">

    <application
        android:name="com.chirag.sticker.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/tray_hattope"
        android:label="Ninja Pepe Stickers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.chirag.sticker.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chirag.sticker.StickerPackListActivity" />
        <activity
            android:name="com.chirag.sticker.StickerPackDetailsActivity"
            android:parentActivityName="com.chirag.sticker.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chirag.sticker.StickerPackListActivity" />
        </activity>
        <activity
            android:name="com.chirag.sticker.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="com.chirag.sticker.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chirag.sticker.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="com.chirag.sticker.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>
</manifest>
